# Path inside the now '@legacy' folder
@legacy/0.RadioLiveALaCarteServer/app/src/main/resources/static/media
@legacy/0.RadioLiveALaCarteServer/app/src/main/resources/static/ui
@legacy/0.RadioLiveALaCarteServer/.idea
@legacy/1.RadioLiveALaCarteApp/.vscode
@legacy/@rd/0.segmentationProgrammesIntelligente/pythontest001/env
@legacy/@rd/0.segmentationProgrammesIntelligente/pythontest001/src/env
@legacy/@rd/0.segmentationProgrammesIntelligente/assets/entrainement-frinter-long.wav
@legacy/@docs/assets/App-demo.mp4
@legacy/@rd/2.INAMotCleVideo/env
@legacy/@rd/2.INAMotCleVideo/.idea
@legacy/@rd/2.INAMotCleVideo/**/*.mp4
@legacy/@rd/2.INAMotCleVideo/**/*.mp3
@legacy/@rd/2.INAMotCleVideo/__pycache__
@legacy/0.RadioLiveALaCarteServer/@media

# Ignore Gradle project-specific cache directory and build output directory
.gradle
build
gradle
gradlew*

# Other misc files
**/.DS_Store
