<configuration>

    <appender name="CONSOLE_INFO_ONLY" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%5p) --- %gray([%15.15t]) %white(%-40.40logger{39}) : %msg%n%ex</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="CONSOLE_WARN_ONLY" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%5p) --- %gray([%15.15t]) %white(%-40.40logger{39}) : %msg%n%ex</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/rlalc-media-capture.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/rlalc-media-capture.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Define at which level we log -->
    <!--  - Only WARN message sent to the console, and INFO to file -->
    <root level="INFO">
        <appender-ref ref="CONSOLE_WARN_ONLY" />
        <appender-ref ref="FILE" />
    </root>
    <!--  - Only INFO messages sent to the console, and DEBUG to file -->
    <logger name="com.prtlabs" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE_INFO_ONLY" />
        <appender-ref ref="FILE" />
    </logger>

</configuration>